* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


main {
    margin: auto;
}


h1,
form {
    text-align: center;
    margin: 40px;
}


input {
    margin: 20px;
    padding: 12px;
    border: none;
    border-bottom: 2px solid rgb(210, 210, 210);
    border-radius: 10px;
    width: 400px;
    background-color: #f3f3f3;
}


input:focus {
    outline: none;
}


input[type="search"]::-webkit-search-decoration:hover,
input[type="search"]::-webkit-search-cancel-button:hover {
    cursor: pointer;
}


ul {
    list-style-type: decimal;
    margin: auto;
    width: 400px;
    line-height: 36px;
    letter-spacing: 1px;
}